<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var source = new EventSource("/api/stream");
        source.onmessage = function (event) {
            var p = document.createElement("p");
            p.innerHTML = event.data;
            document.getElementById("chat").appendChild(p);
        }
    </script>
</head>
<body>
    <h1>Chat</h1>
    <div id="chat"></div>
    <form action="/api/" method="post">
        <input type="text" name="message" placeholder="Enter your message">
        <input type="submit" value="Send">
    </form>
</body>
</html>
